#(cltpt/base:make-block
  :let* '((text-obj (cltpt/roam:node-text-obj *card-node*)))
  :escape nil)
<div class="post-card">
  <div class="post-header">
    <div class="post-title-row">
      <a href="%(format nil
                        "~A.html"
                        (cltpt/publish:title-to-filename (cltpt/roam:node-title *card-node*)))"
         class="post-title"> %(cltpt/roam:node-title *card-node*) </a>
      #(cltpt/base:make-block
        :escape nil
        :loop '(tag (cltpt/base:text-object-property text-obj :tags)))
        <span class="post-tag"> %tag </span>
      #(cltpt/base:block-end)
    </div>
    <span class="post-date">
      %(format-node-date *card-node*)
    </span>
  </div>
  #(cltpt/base:make-block
    :if '(cltpt/roam:node-desc *card-node*)
    :escape nil)
  <p class="post-excerpt">
    %(cltpt/roam:node-desc *card-node*)
  </p>
  #(cltpt/base:block-end)
</div>
#(cltpt/base:block-end)