#(cltpt/base:make-block
  :let* '((text-obj (cltpt/roam:node-text-obj *card-node*)))
  :escape nil)
<li class="post-item">
  <a class="post-link"
     href="%(format nil
                    "~A.html"
                    (cltpt/publish:title-to-filename (cltpt/roam:node-title *card-node*)))">
    <span class="post-date">%(format-node-date *card-node*)</span>
    <span class="post-title">%(cltpt/roam:node-title *card-node*)</span>
    <span class="post-tags">
      #(cltpt/base:make-block
        :escape nil
        :loop '(tag (cltpt/base:text-object-property (cltpt/roam:node-text-obj *card-node*) :tags)))
      <span class="post-tag-inline">%tag </span>
      #(cltpt/base:block-end)
    </span>
  </a>
</li>
#(cltpt/base:block-end)