#(cltpt/base:make-block
  :let* '((text-obj (cltpt/roam:node-text-obj *card-node*)))
  :escape nil)
<div class="post-card">
  <div class="post-header">
    <div class="post-title-row">
      <h3 class="post-title"> %(cltpt/roam:node-title *card-node*) </h3>
      #(cltpt/base:make-block
        :escape nil
        :loop '(tag (cltpt/base:text-object-property text-obj :tags)))
        <span class="post-tag"> %tag </span>
      #(cltpt/base:block-end)
    </div>
    <span class="post-date">
      %(local-time:format-timestring
        nil
        (node-date *card-node*)
        :format '((:day 2) #\space :short-month #\space (:year 4)))
    </span>
  </div>
  #(cltpt/base:make-block
    :if '(cltpt/roam:node-desc *card-node*)
    :escape nil)
  <p class="post-excerpt">
    %(cltpt/roam:node-desc *card-node*)
  </p>
  #(cltpt/base:block-end)
  <a href="%(format nil
                    "~A~A.html"
                    cltpt/html:*html-static-route*
                    (cltpt/publish:title-to-filename (cltpt/roam:node-title *card-node*)))"
     class="read-more">read more <i class="fas fa-arrow-right"></i></a>
</div>
#(cltpt/base:block-end)