<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> %(or *page-title* "mahmood") </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/static/main.css">
<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>λ</text></svg>">
<script defer src="https://analytics.mahmoodsh.com/script.js" data-website-id="e2027c6d-2921-4339-a2b1-18dc85f9e526" data-performance="true"></script>
<script defer src="/static/analytics.js"></script>
