<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  %(render-head "mahmood")
</head>
<body class="dark-theme">
  #(cltpt/publish:template-file-to-template-obj "header.html")

  <main class="container index-narrow">
    #(cltpt/publish:wrap-into-unescaping-obj (generate-collage (entry-nodes *rmr*) "main nodes" *blog-dir*))

    <section class="featured">
      <h2 class="section-title">recent articles</h2>
      %(generate-blog-entries-html (subseq (blog-nodes *rmr*) 0 5))
    </section>
  </main>

  #(cltpt/publish:template-file-to-template-obj "footer.html")
  <script src="/static/main.js"></script>
</body>
</html>